/* index.css */
.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  
  .bg-light {
    background-color: #f8f9fa !important;
  }
  
  .nav-link.active {
    font-weight: bold;
  }
  
  .table-responsive {
    margin-top: 20px;
  }
  
  .table th, .table td {
    text-align: center;
    vertical-align: middle;
  }
  
  .input-group-text {
    background-color: #fff;
  }
  
  .btn-outline-secondary {
    display: inline-flex;
    align-items: center;
  }
  
  .btn-outline-secondary .bs-icon {
    margin-right: 5px;
  }
  
  .btn-outline-secondary .btn-text {
    margin-left: 5px;
  }
  